@page
@model ContosoUniversity.Pages.CoursesVM.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CourseVM</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseVM.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseVM.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseVM.Credits)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseVM.Credits)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseVM.DepartmentName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseVM.DepartmentName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CourseVM.CoursevmID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
